/*白天主题下的配置*/
#aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    /*background-image: url('/img/icon_backgroud_light.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: inherit;*/
    /*background-size: 100%*/

    /*background: #E0EAFC;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #CFDEF3, #E0EAFC); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*黑暗主题下的配置*/
[data-theme=dark] #aside-content>.card-widget.card-info {
    /*换成自己图片的地址*/
    /*background-image: url('/img/icon_backgroud_dark.jpg') !important*/
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
